@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  box-sizing: border-box;
}
/*
body {
  height: 100vh;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-image: -webkit-linear-gradient(315deg, rgba(0, 156, 222, 0.8) 0%, rgba(111, 12, 222, 0.8) 100%), url("http://i.imgur.com/QRbwNvh.jpg");
  background-image: linear-gradient(135deg, rgba(0, 89, 156, 0.8) 0%, rgba(111, 12, 222, 0.8) 100%), url("http://i.imgur.com/QRbwNvh.jpg");
 

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

*/



.acc {
  position: relative;
  background-color: #fff;
}
.acc dl {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.acc dl:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #009CDE;
}
.acc dt > a {
  text-align: center;
  font-weight: 300;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 0.5s ease-in-out;
}
.acc dd {
  background-color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  background-image: -webkit-linear-gradient(top, #444 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #444 0%, #000000 100%);
  -webkit-background-clip: text;

}
.acc dd > p {
  padding: 1em 2em 1em 2em;
}

/*THIS ONE CAUSED PROBLEMS WITH THE SIZE OF THE NAVBAR
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}
*/

.acc_title {
  background-color: #3498db;
  border-bottom: 1px solid #258cd1;
  height: 2px;
}
.acc_title:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.acc_title:hover {
  background-color: #2980b9;
}

.acc_title_active {
  background-color: #2980b9;
}
.acc_title_active:before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.acc_panel {
  height: auto;
  overflow: hidden;
}

@media all {
  .acc_panel {
    max-height: 50em;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}
@media screen and (min-width: 48em) {
  .acc_panel {
    max-height: 5000px;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}
.acc_panel_col {
  max-height: 0;
}

.anim_in {
  -webkit-animation-name: acc_in;
          animation-name: acc_in;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.anim_out {
  -webkit-animation-name: acc_out;
          animation-name: acc_out;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes acc_in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes acc_in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes acc_out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@keyframes acc_out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.card2-member {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.card2-member .content {
  padding: 25px;
}
.card2-member > img {
  background: none repeat scroll 0 0 transparent;
  height: auto;
  width: 120px;
  margin: 0 auto;
}
.card2-white {
  background: #FFFFFF;
}

.card2-plain {
  border-radius: 0;
  box-shadow: none;
  background: none;
}
.card2-plain .image-header {
  border-radius: 4px;
}

.card2 {
  background: #fff;
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  min-height:350px;
  /*^value was 470 */
  margin-bottom: 30px;
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card2:not(.card2-plain):not(.card2-price):hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}
.card2 .subtitle-black {
  color: #141414;
}
.card2 a {
  opacity: .85;
}
.card2:hover .header {
  opacity: 1;
}
.card2 h2 {
  margin-top: 0;
}
.card2 img {
  max-width: 100%;
}
.card2 .header img {
  border-radius: 4px;
}
.card2 .image-header,
.card2 .header img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.card2 .image-header.image-full,
.card2 .header img.image-full {
  border-radius: 4px;
}
.card2 .row .image-header,
.card2 .row .header img {
  width: 100%;
  border-radius: 4px;
}
.card2 .btn {
  margin-top: 15px;
}
.card2 > img {
  border-radius: 4px;
}
.card2 .title {
  margin-bottom: 5px;
  color: #333333;
}
.card2 .description {
  font-size: 13px;
}

.card2-member {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.card2-member .content {
  padding: 25px;
}
.card2-member > img {
  background: none repeat scroll 0 0 transparent;
  height: auto;
  width: 120px;
  margin: 0 auto;
}

.card2-white {
  background: #FFFFFF;
}

.card2-plain {
  border-radius: 0;
  box-shadow: none;
  background: none;
}
.card2-plain .image-header {
  border-radius: 4px;
}